fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
qdrant-client
python-multipart
pydantic-settings
tenacity  # Retry logic (quan trọng cho production)
pypdf     # Đọc PDF đơn giản
langchain==0.3.17
langchain-experimental==0.3.4
langchain-openai==0.3.32
fastembed
boto3 # storage
# parse pdf
llama-cloud
PyMuPDF

# aiofiles # storage asyn / hiện chưa dùng

# celery
celery
redis
flower

# alembic
alembic
psycopg2-binary